<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Primers:</h1>
<table>
    <tr>
        <th>Count</th>
        <th>ID</th>
        <th>Name</th>
        <th>Sequence</th>
    </tr>
    <tr th:each="primer,iterationStatus  : ${primers}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${primer.id}">ID</td>
        <td th:text="${primer.name}">NAME</td>
        <td th:text="${primer.sequence}">SEQUENCE</td>
    </tr>
</table>
</body>
</html>